<div class="container">
	<div class="well">
	<h1></h1><br>
	<h1>Create a new monster!</h1>
	</div>
</div>

<div class="container">
	<div class="well">
		<%= bootstrap_form_for @creature do |c| %>
  			<%= c.text_field :name %>
  			<%= c.text_area :description %>

  <%= c.primary %>
<% end %>

</div>
</div>