<div class="container">
	<div class="well">
	<h1>Create a new monster!</h1><br>
	<img src="http://33.media.tumblr.com/eb420f60dec4c53cdf004a8fcb19f757/tumblr_my7kpizjId1qcpijho2_250.gif">
	</div>
</div>

<div class="container">
	<div class="well">
		<%= bootstrap_form_for @creature do |c| %>
  			<%= c.text_field :name %>
  			<%= c.text_area :description %>

  			<%= c.primary %>
		<% end %>

	</div>
</div>