<!DOCTYPE html>
<html>
<head>
  <title>Creatures</title>
  <link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
 <script src="//code.jquery.com/jquery.js"></script>
 <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Amatic+SC" />
 <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>


	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top white">
  <div class="column">
    <center><h1><a href="/creatures">c r e a t u r e s</a></h1></center>
  </div>
</nav>

<nav class="navbar navbar-default navbar-static-bottom">
	<div class="column">
		A Ruby on Rails project by Haylee Nighbert
	</div>
</nav>

<%= yield %>

</body>
</html>
